<div class="w-full bg-[url('/assets/images/login/BG.png')]  bg-[length:100%_100%] sm:bg-contain bg-no-repeat bg-center flex justify-center items-center">
    <div class="w-full max-w-sm h-[100dvh]
                 p-6 sm:p4 bg-no-repeat flex flex-col justify-start mt-auto items-center">
        <img src="/assets/images/login/Logo.png" class="w-64 max-w-sm object-contain object-center">
        <div class="w-full rounded-[8vh] p-1
            bg-[#112589] relative">
            <div class="w-full rounded-[8vh] p-1 
          bg-[#ffffff]">
                <div class="w-full rounded-[8vh] p-2
            bg-gradient-to-b from-[#ffcbeb] to-[#ffb7f8]">
                    <div class="flex flex-col justify-center items-center">
                        <button type="button" (click)="goBack()" class="absolute top-0 -translate-y-15 left-5 w-10">
                            <img src="/assets/images/login/BTN-Back.png" class="w-12 max-w-sm object-cover cursor-pointer">
                        </button>
                        <div class="w-full flex flex-col justify-center items-center gap-4">
                            <p class="text-2xl sm:text-4xl font-bold text-[#12268a]">กรอกรหัส OTP</p>
                            <img src="/assets/images/otp/Rectangle.png" class="w-48 object-cover cursor-pointer">
                            <p class="text-xl sm:text-2xl text-[#12268a]">ฉันได้ส่งรหัส OTP ไปยังอีเมล {{showEmail}}</p>
                            <form [formGroup]="otpForm" (ngSubmit)="onSubmit()" autocomplete="one-time-code" class="w-full flex flex-col items-center">
                                <div class="flex justify-between items-center w-full">
                                    <input type="tel" #otpInput0 (keydown)="onKeyDown($event, 0)" maxlength="1" inputmode="numeric" pattern="[0-9]*" formControlName="digit1"
                                        (input)="onInput($event, 0)" (paste)="onPaste($event)"
                                        class="w-11 h-11 text-center text-7xl rounded focus:outline-none focus:ring-2 bg-white border-0 focus:ring-pink-500"
                                        [class.border-red-500]="digits[0]?.invalid && digits[0]?.touched" autocomplete="one-time-code" />
                                    <input type="tel" #otpInput1 (keydown)="onKeyDown($event, 1)" maxlength="1" inputmode="numeric" pattern="[0-9]*" formControlName="digit2"
                                        (input)="onInput($event, 1)"
                                        class="w-11 h-11 text-center text-7xl rounded focus:outline-none focus:ring-2 bg-white border-0 focus:ring-pink-500"
                                        [class.border-red-500]="digits[1]?.invalid && digits[1]?.touched" autocomplete="one-time-code" />
                                    <input type="tel" #otpInput2 (keydown)="onKeyDown($event, 2)" maxlength="1" inputmode="numeric" pattern="[0-9]*" formControlName="digit3"
                                        (input)="onInput($event, 2)"
                                        class="w-11 h-11 text-center text-7xl rounded focus:outline-none focus:ring-2 bg-white border-0 focus:ring-pink-500"
                                        [class.border-red-500]="digits[2]?.invalid && digits[2]?.touched" autocomplete="one-time-code" />
                                    <input type="tel" #otpInput3 (keydown)="onKeyDown($event, 3)" maxlength="1" inputmode="numeric" pattern="[0-9]*" formControlName="digit4"
                                        (input)="onInput($event, 3)"
                                        class="w-11 h-11 text-center text-7xl rounded focus:outline-none focus:ring-2 bg-white border-0 focus:ring-pink-500"
                                        [class.border-red-500]="digits[3]?.invalid && digits[3]?.touched" autocomplete="one-time-code" />
                                    <input type="tel" #otpInput4 (keydown)="onKeyDown($event, 4)" maxlength="1" inputmode="numeric" pattern="[0-9]*" formControlName="digit5"
                                        (input)="onInput($event, 4)"
                                        class="w-11 h-11 text-center text-7xl rounded focus:outline-none focus:ring-2 bg-white border-0 focus:ring-pink-500"
                                        [class.border-red-500]="digits[4]?.invalid && digits[4]?.touched" autocomplete="one-time-code" />
                                    <input type="tel" #otpInput5 (keydown)="onKeyDown($event, 5)" maxlength="1" inputmode="numeric" pattern="[0-9]*" formControlName="digit6"
                                        (input)="onInput($event, 5)"
                                        class="w-11 h-11 text-center text-7xl rounded focus:outline-none focus:ring-2 bg-white border-0 focus:ring-pink-500"
                                        [class.border-red-500]="digits[5]?.invalid && digits[5]?.touched" autocomplete="one-time-code" />
                                </div>
                            </form>
                            <div class="w-full text-red-600 text-xl sm:text-2xl text-center">
                                <p *ngIf="isOtpTouchedAndInvalid" class="text-red-600">
                                    กรุณากรอก OTP ให้ครบถ้วนและถูกต้อง
                                </p>
                            </div>
                            <div *ngIf="!isTime" class="mt-4 text-center text-[#12268a] flex items-center justify-center gap-1">
                                <span class="w-4 h-4 bg-[url('/assets/images/otp/Vector.png')] bg-no-repeat bg-contain bg-center"></span>
                                ขอ OTP ใหม่ ได้ในอีก
                                <span class="text-[#f4268f]">{{ displayMinutes }}:{{ displaySeconds }}</span>
                            </div>
                            <div *ngIf="isTime" class="text-[#12268a] cursor-pointer" (click)="requestOtpAgain()">
                                ขอ OTP อีกครั้ง
                            </div>
                            <div class="flex justify-center items-center">
                                <img src="/assets/images/otp/BTN.png" (click)="onSubmit()" class="w-40 sm:w-48 object-cover object-center cursor-pointer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>