<div class="w-full bg-[url('/assets/images/login/BG.png')]  bg-[length:100%_100%] sm:bg-contain bg-no-repeat bg-center flex justify-center items-center">
    <div class="w-full max-w-sm h-[100dvh]
                 p-6 sm:p4 bg-no-repeat flex flex-col justify-start mt-auto items-center">
        <img src="/assets/images/login/Logo.png" class="w-64 max-w-sm object-contain object-center">
        <div class="w-full rounded-[8vh] p-2 
            bg-gradient-to-b from-[#fa0eda] via-[#ed0e84] to-[#eb0e6c] border-t-2 border-white relative">
            <div class="w-full rounded-[8vh] p-2 
            bg-gradient-to-b from-[#d91367] via-[#e13593] to-[#d30d62] border-b-2 border-white">
                <div class="w-full rounded-[8vh] p-3 
            bg-gradient-to-b from-[#f11472] via-[#fa3ca5] to-[#eb0e6d]">
                    <div class="w-full rounded-[8vh] p-5
            bg-gradient-to-b from-[#8b1d4b] via-[#913c6f] to-[#831444]">
                        <div class="flex flex-col justify-center items-center">
                            <button type="button" (click)="goBack()" class="absolute top-0 -translate-y-15 left-5 w-10">
                                <img src="/assets/images/login/BTN-Back.png" class="w-12 max-w-sm object-cover cursor-pointer">
                            </button>
                            <p class="text-3xl sm:text-4xl font-bold text-white">ตั้งใจรหัสผ่านใหม่</p>
                            <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="w-full rounded-xl space-y-6 sm:space-y-3 sm:p-3" novalidate>
                                <div class="relative">
                                    <label for="newPassword" class="text-white text-xl sm:text-2xl">รหัสผ่านใหม่</label>
                                    <input id="newPassword" [type]="showPassword ? 'text' : 'password'" formControlName="newPassword" placeholder="กรอกรหัสผ่านใหม่"
                                        class="w-full p-2 border rounded focus:outline-none focus:ring-2 text-gray-500 text-base sm:text-xl focus:ring-pink-400 bg-white"
                                        [class.border-red-500]="changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched" />
                                    <button type="button" (click)="togglePassword()" class="absolute right-3 top-10 text-gray-500 hover:text-gray-700 focus:outline-none">
                                        <span *ngIf="!showPassword"
                                            class="w-4 h-4 inline-block bg-[url('/assets/images/change-pw/Eye.png')] bg-no-repeat bg-contain bg-center"></span>
                                        <span *ngIf="showPassword" class="text-lg sm:text-xl cursor-pointer">🙈</span>
                                    </button>
                                    <p *ngIf="changePasswordForm.get('newPassword')?.errors?.['required'] && changePasswordForm.get('newPassword')?.touched"
                                        class="text-xl sm:text-2xl">
                                        กรุณากรอกรหัสผ่าน
                                    </p>
                                    <p *ngIf="changePasswordForm.get('newPassword')?.errors?.['pattern'] && changePasswordForm.get('newPassword')?.touched"
                                        class="text-xl sm:text-2xl">
                                        กรุณากรอกรหัสผ่านให้ถูกต้องอย่างน้อย 6 ตัว
                                    </p>
                                </div>

                                <div class="relative">
                                    <label for="confirmPassword" class="text-white text-xl sm:text-2xl">ยืนยันรหัสผ่าน</label>
                                    <input id="confirmPassword" [type]="showPasswordConfirm ? 'text' : 'password'" formControlName="confirmPassword" placeholder="กรอกรหัสผ่าน"
                                        class="w-full p-2 border rounded focus:outline-none focus:ring-2 text-gray-500 text-base sm:text-xl focus:ring-pink-400 bg-white"
                                        [class.border-red-500]="changePasswordForm.get('confirmPassword')?.invalid && changePasswordForm.get('confirmPassword')?.touched" />
                                    <button type="button" (click)="toggleConfirmPassword()" class="absolute right-3  top-10 text-gray-500 hover:text-gray-700 focus:outline-none">
                                        <span *ngIf="!showPasswordConfirm"
                                            class="inline-block  w-4 h-4 bg-[url('/assets/images/change-pw/Eye.png')] bg-no-repeat bg-contain bg-center"></span>
                                        <span *ngIf="showPasswordConfirm" class="text-lg sm:text-xl cursor-pointer">🙈</span>
                                    </button>
                                    <p *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['required'] && changePasswordForm.get('confirmPassword')?.touched"
                                        class="text-xl sm:text-2xl">
                                        กรุณากรอกรหัสผ่าน
                                    </p>
                                    <p *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['pattern'] && changePasswordForm.get('confirmPassword')?.touched"
                                        class="text-xl sm:text-2xl">
                                        กรุณากรอกรหัสผ่านให้ถูกต้องอย่างน้อย 6 ตัว
                                    </p>
                                    <p *ngIf="changePasswordForm.errors?.['passwordMismatch'] && changePasswordForm.get('confirmPassword')?.touched" class="text-xl sm:text-2xl">
                                        รหัสผ่านไม่ตรงกัน
                                    </p>
                                </div>
                                <div class="flex justify-center items-center">
                                    <img src="/assets/images/change-pw/BTN.png" (click)="onSubmit()" class="w-40 sm:w-48 object-cover object-center cursor-pointer">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>