<div class="w-full bg-[url('/assets/images/board/BG-01.png')]  bg-[length:100%_100%] sm:bg-contain bg-no-repeat bg-center flex justify-center items-center">
    <div class="w-full max-w-sm h-[100dvh]
                p-8 sm:p-4 bg-no-repeat flex flex-col justify-between mt-auto items-center overflow-auto relative">
        <div class="w-full fixed left-10 sm:left-1/3">
            <button type="button" (click)="cancel('/home')" class="flex justify-center items-center">
                <img src="/assets/images/board/BTN-Close.png" class="w-8 md:w-12 object-cover cursor-pointer">
            </button>
        </div>
        <div class="w-full flex flex-col justify-center items-center">
            <div class="w-64 rounded-[2vh] p-2 mt-10
                      bg-[#112589] z-10">
                <div class="w-full rounded-[2vh] p-2 
                     bg-[#ffffff] ">
                    <div class="w-full rounded-[2vh] p-2
                          bg-gradient-to-b from-[#cc366d] to-[#f73ea1]">
                        <div class="text-white font-bold text-2xl sm:text-3xl text-center">LEADER BOARD</div>
                    </div>
                </div>
            </div>
            <div class="w-full rounded-[5vh] p-2 -translate-y-10
                      bg-[#112589]">
                <div class="w-full rounded-[5vh] p-2 
                     bg-[#ffffff]">
                    <div class="w-full  flex flex-col justify-center items-center text-white">
                        <div class="w-full  rounded-t-[4vh]  
                        bg-gradient-to-b from-[#e840d3] to-[#ad21c0] relative rounded-b-[4vh] h-[60vh] overflow-auto hide-scrollbar">
                            <table class="w-full text-center border-collapse border-0">
                                <thead class="sticky top-10 z-10">
                                    <tr>
                                        <th class="translate-x-5">
                                            <img src="/assets/images/board/number.png" class="w-12 object-center object-contain" alt="">
                                        </th>
                                        <th class="translate-x-10">
                                            <img src="/assets/images/board/point.png" class="w-12 object-center object-contain" alt="">
                                        </th>
                                        <th class="translate-x-5">
                                            <img src="/assets/images/board/user.png" class="w-12 object-center object-contain" alt="">
                                        </th>

                                    </tr>
                                </thead>
                                <tbody class="relative">
                                    <ng-container *ngIf="canShowScore()">
                                        <!-- ถ้ามีข้อมูล -->
                                        <ng-container *ngIf="filteredSortedUsers.length > 0; else noData">
                                            <tr *ngFor="let user of filteredSortedUsers; let i = index" class="h-[60vh] text-2xl sm:text-3xl text-white"
                                                [ngClass]="{ 'bg-gradient-to-b from-[#f73ea1] to-[#f73ea1]': i > 2 }">

                                                <td *ngIf="i==0">
                                                    <img src="/assets/images/board/win1.png" class="w-10 translate-x-7 object-center object-contain" alt="">
                                                </td>
                                                <td *ngIf="i==1">
                                                    <img src="/assets/images/board/win2.png" class="w-10 translate-x-7 object-center object-contain" alt="">
                                                </td>
                                                <td *ngIf="i==2">
                                                    <img src="/assets/images/board/win3.png" class="w-10 translate-x-7 object-center object-contain" alt="">
                                                </td>
                                                <td *ngIf="i > 2">{{ i + 1 }}</td>
                                                <td>{{ user.username }}</td>
                                                <td>{{ user.score }}</td>
                                            </tr>
                                        </ng-container>

                                        <!-- ถ้าไม่มีข้อมูล -->
                                        <ng-template #noData>
                                            <tr class="bg-gradient-to-b from-[#f73ea1] to-[#f73ea1] h-[60vh]">
                                                <td colspan="3" class="text-center text-white w-full">
                                                    <p class="text-3xl sm:text-4xl font-bold">ไม่มีข้อมูล</p>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </ng-container>

                                    <tr *ngIf="canShowTime()" class="bg-gradient-to-b from-[#f73ea1] to-[#f73ea1] h-[60vh]">
                                        <td colspan="3" class="text-center text-white w-full">
                                            <p class="text-3xl sm:text-4xl font-bold"> ประกาศอันดับหลัง</p>
                                            <p class="text-5xl sm:text-6xl font-bold"> 20.30 น.</p>
                                        </td>
                                    </tr>
                                    <tr class="bg-gradient-to-b from-[#2d89ef] to-[#2d89ef] sticky bottom-0 text-white text-3xl sm:text-4xl z-10">
                                        <td class="rounded-bl-[4vh]">{{myRank}}</td>
                                        <td class="p-2">{{ myName }}</td>
                                        <td class="rounded-br-[4vh]">{{myScore}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full  flex flex-col justify-center items-center gap-6">
            <div class="flex justify-center items-center gap-4">

                <button [class.pointer-events-none]="isLeftDisabled" (click)="prevDate()" class="object-center object-contain w-12 h-13" [ngStyle]="{
          'background-image': isLeftDisabled 
            ? 'url(/assets/images/rules/BTN-Left-Disabled.png)'
            : 'url(/assets/images/rules/BTN-Left.png)',
          'background-size': 'cover',
          'background-position': 'center'
        }">
                </button>
                <span class="text-2xl font-medium text-white">
                    {{ currentDate | date:'dd/MM/yyyy' }}
                </span>

                <button [class.pointer-events-none]="isRightDisabled" (click)="nextDate()" class="object-center object-contain w-12 h-13" [ngStyle]="{
          'background-image': isRightDisabled 
            ? 'url(/assets/images/rules/BTN-Right-Disabled.png)'
            : 'url(/assets/images/rules/BTN-Right.png)',
          'background-size': 'cover',
          'background-position': 'center'
        }">
                </button>
            </div>
            <div *ngIf="isLoading" class="flex justify-center items-center">
                <div class="animate-spin rounded-full h-8 w-8 border-t-2 border-b-2 border-pink-500"></div>
            </div>
            <button class="bg-gradient-to-r from-[#1d4ac2]  to-[#e92790] p-2 cursor-pointer rounded-full border-3 border-white text-white  text-2xl w-48"
                (click)="gotoLazada()">ช้อปต่อที่
                Lazada</button>
        </div>
    </div>
</div>