<div class="w-full bg-[url('/assets/images/login/BG.png')]  bg-[length:100%_100%] sm:bg-contain bg-no-repeat bg-center flex justify-center items-center">
    <div class="w-full max-w-sm h-[100dvh]
                 p-6 sm:p-4 bg-no-repeat flex flex-col justify-start mt-auto items-center">
        <img src="/assets/images/login/Logo.png" class="w-64 max-w-sm object-contain object-center">
        <div class="w-full rounded-[8vh] p-2 
            bg-gradient-to-b from-[#fa0eda] via-[#ed0e84] to-[#eb0e6c] border-t-2 border-white relative">
            <div class="w-full rounded-[8vh] p-2 
            bg-gradient-to-b from-[#d91367] via-[#e13593] to-[#d30d62] border-b-2 border-white">
                <div class="w-full rounded-[8vh] p-3 
            bg-gradient-to-b from-[#f11472] via-[#fa3ca5] to-[#eb0e6d]">
                    <div class="w-full rounded-[8vh] p-5
            bg-gradient-to-b from-[#8b1d4b] via-[#913c6f] to-[#831444]">
                        <div class="flex flex-col justify-center items-center">
                            <button type="button" (click)="goBack()" class="absolute top-0 -translate-y-15 left-5 w-10">
                                <img src="/assets/images/login/BTN-Back.png" class="w-12 max-w-sm object-cover cursor-pointer">
                            </button>
                            <p class="text-3xl sm:text-4xl font-bold text-white">ลืมรหัสผ่าน</p>
                            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="w-full rounded-xl space-y-10 sm:space-y-6 sm:p-3" novalidate>
                                <div>
                                    <label for="email" class="text-white text-xl sm:text-2xl">อีเมล</label>
                                    <input id="email" type="email" formControlName="email" placeholder="example@mail.com"
                                        class="w-full p-2 border rounded focus:outline-none focus:ring-2 text-gray-500 text-base sm:text-xl focus:ring-pink-400 bg-white"
                                        [class.border-red-500]="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched" />
                                    <p *ngIf="forgotPasswordForm.get('email')?.errors?.['required'] && forgotPasswordForm.get('email')?.touched"
                                        class="text-red-600 text-xl sm:text-2xl">
                                        กรุณากรอกอีเมล</p>
                                    <p *ngIf="forgotPasswordForm.get('email')?.errors?.['email'] && forgotPasswordForm.get('email')?.touched"
                                        class="text-red-600 text-xl sm:text-2xl">
                                        กรุณากรอกอีเมลให้ถูกต้อง
                                    </p>
                                </div>

                                <div class="flex justify-center items-center px-6">
                                    <button class="bg-gradient-to-r from-[#1d4ac2]  to-[#e92790] cursor-pointer p-2 rounded-full border-3 border-white text-white  text-xl w-full"
                                        (click)="onSubmit()">ขอรหัส OTP</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>