/* @import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap"); */
@import "tailwindcss";

/* Font Bold */
@font-face {
  font-family: "DBHelvethaicaBd";
  src: url("/assets/fonts/DBHelvethaicaMonX/DB HelvethaicaMon X Bd.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyFont";
  src: url("/assets/fonts/DB Heavent Bd v3.2.ttf");
  font-weight: normal;
  font-style: normal;
}
/* Font Regular */
@font-face {
  font-family: "DBHelvethaicaXBd";
  src: url("/assets/fonts/DBHelvethaicaMonX/._DB HelvethaicaMon X Cond.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "MyFont", sans-serif;
  font-style: normal;
}
.DBHelvethaicaRg {
  font-family: "DBHelvethaicaRg", sans-serif;
}
img {
  image-rendering: crisp-edges; /* ช่วยให้ภาพพิกเซลชัดขึ้น (เหมาะกับภาพพิกเซลอาร์ต) */
  image-rendering: -webkit-optimize-contrast; /* Chrome, Safari */
  image-rendering: pixelated; /* ทำให้ภาพดูไม่เบลอ (เหมาะกับภาพพิกเซล) */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}
/* ซ่อน scrollbar แบบ overlay ไม่ทำให้ content ขยับ */
.scroll-hide::-webkit-scrollbar {
  width: 0px; /* Chrome, Safari */
  background: transparent;
}

.scroll-hide {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent;
}
.\[text-stroke\:1px_\#381ccc\] {
  -webkit-text-stroke: 1px #381ccc; /* ขอบรอบตัวหนังสือ */
  -webkit-text-fill-color: white; /* สีตัวหนังสือ (ภายใน) */
}
.pattaya-regular {
  font-family: "Pattaya", sans-serif;
  font-weight: 100;
  font-style: normal;
}
