<div class="w-full min-h-screen bg-gray-900 flex justify-center items-center">
    <div
        class="w-full max-w-sm min-h-[calc(100vh-40px)] max-h-[calc(100vh-40px)] overflow-auto bg-[url('/assets/images/background.jpg')] bg-cover bg-center p-6 sm:p-10 rounded-xl flex flex-col items-center justify-center relative">

        <div class="text-[25rem] font-extrabold text-white mb-4" *ngIf="countdown > 0">
            {{ countdown }}
        </div>
        <div *ngIf="isGameStarted && currentQuestion && timeLeft > 0" class="w-full flex flex-col items-center gap-6">
            <div class="w-full h-4 bg-gray-300 rounded-lg overflow-hidden">
                <div class="h-full bg-[rgba(255,70,70,1)] transition-all duration-1000" [style.width.%]="(timeLeft / questionTime) * 100"></div>
            </div>
            <div class="w-full border-4 border-[#581c87] bg-[#c084fc] rounded-xl p-10 flex flex-col justify-center items-center relative">
                <div class="absolute top-0 -translate-y-5">
                    <div class="w-full flex justify-between items-center" *ngIf="isGameStarted && currentQuestion">
                        <div class="w-10 h-10 rounded-full border-2 border-pink-500 text-pink-500 text-xl font-semibold flex items-center justify-center shadow-md bg-white">
                            {{ questionIndex + 1 }}/{{ totalQuestions }}
                        </div>
                        <!-- <p class="text-white font-semibold text-xl">Time: {{ timeLeft }} s</p> -->
                    </div>
                </div>
                <p class="text-4xl text-center font-semibold text-white">
                    {{ currentQuestion.question }}
                </p>
            </div>
            <div class="grid grid-cols-1 gap-3 w-full">
                <button *ngFor="let choice of currentQuestion.choices; let i = index" (click)="selectAnswer(choice,i)"
                    class="w-full border-2 border-[#ec4899] bg-white flex justify-between items-center cursor-pointer p-3 rounded-lg text-center text-xl font-medium transition duration-300"
                    [ngClass]="{
                    'bg-pink-300 text-white border-pink-600': selectedAnswer === choice,
                    'bg-white  border-pink-600': selectedAnswer !== choice
                    }">
                    {{ getChoiceLabel(i) }}. {{ choice }}

                    <!-- ไอคอนถูก/ผิด -->
                    <ng-container *ngIf="isAnswerConfirmed">
                        <img *ngIf="choice === answerCorrect" src="/assets/images/correct.png" class="w-6 h-6 ml-2" />
                        <img *ngIf="selectedAnswer === choice && choice !== answerCorrect" src="/assets/images/wrong.png" class="w-6 h-6 ml-2" />
                    </ng-container>
                </button>
            </div>
            <button (click)="checkAnswer()" *ngIf="!showNextButton" class="px-6 py-3 bg-pink-500 text-white font-bold text-lg rounded-full shadow-md hover:brightness-110">
                ยืนยันคำตอบ
            </button>
            <!-- กรณีเลือกคำตอบ (ไม่หมดเวลา) -->
            <div *ngIf="selectedAnswer && showNextButton && timeLeft > 0" class="w-full flex justify-center mt-4">
                <button (click)="nextQuestion()" class="px-6 py-3 bg-pink-500 text-white font-bold text-lg rounded-full shadow-md hover:brightness-110">
                    ข้อต่อไป
                </button>
            </div>
            <!-- <p class="text-xl text-white">เหลือเวลา {{ timeLeft }} วินาที</p> -->
        </div>

        <!-- หมดเวลา -->
        <div *ngIf="timeLeft <= 0" class="w-full rounded-[8vh] p-1 bg-[#112589] relative">
            <div class="w-full h-full rounded-[8vh] p-1 bg-[#ffffff]">
                <div class="w-full h-full rounded-[8vh] p-2 bg-gradient-to-b from-[#ffcbeb] to-[#ffb7f8]">
                    <div class="w-full flex flex-col items-center justify-center">
                        <p class="text-2xl sm:text-4xl font-semibold text-[#12268a]">หมดเวลา</p>
                        <img src="/assets/images/otp/Rectangle.png" class="w-48 object-cover cursor-pointer">
                    </div>
                    <div class="w-full flex justify-center mt-4">
                        <button (click)="nextQuestion()" class="px-6 py-3 bg-pink-500 text-white font-bold text-lg rounded-full shadow-md hover:brightness-110">
                            ข้อต่อไป
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <div *ngIf="!isGameStarted && countdown === 0 && !currentQuestion && correctAnswers <= totalQuestions-2" class="text-white text-center text-2xl mt-6">
            <div class="mb-2 text-5xl">🎉 เกมจบแล้ว!</div>
            <div *ngIf="resultAnswers?.length " class="flex flex-col gap-3 items-center my-4">
                <div *ngFor="let result of resultAnswers; let i = index" class="flex items-center gap-3">
                    <span class="text-3xl">ข้อ {{ i + 1 }}: {{getValue(i)}}</span>
                    <img [src]="getResultStatus(i) ? '/assets/images/correct.png' : '/assets/images/wrong.png'" class="w-10 h-10" />
                </div>
            </div>

            <div>คุณตอบถูก {{ correctAnswers }} / {{ totalQuestions }} ข้อ</div>
            <div>คะแนนรวม: {{ score }} / {{ totalQuestions * maxScorePerQuestion }}</div>
            <div class="text-4xl font-bold">น่าเสียดาย! คุณสอบไม่ผ่าน</div>
            <div>กลับมาสอบใหม่พรุ่งนี้นะ!</div>

            <button type="submit" class="w-full h-[50px] bg-[#fbbf24] text-white font-bold text-lg rounded-full
      shadow-[0_4px_0_0_rgba(0,0,0,0.4),_inset_0_-4px_0_0_rgba(0,0,0,0.4)]
      active:shadow-[0_0px_0_0_rgba(0,0,0,0.4),_inset_0_4px_0_0_rgba(0,0,0,0.4)]
      transition duration-150 hover:brightness-110 cursor-pointer" (click)="Direct('board')">
                LeaderBoard
            </button>
        </div>
        <div *ngIf="!isGameStarted && countdown === 0 && !currentQuestion && correctAnswers >= totalQuestions-1" class="text-white text-center text-2xl mt-6">
            <div class="mb-2">🎉 เกมจบแล้ว!</div>
            <div>ยินดีด้วย! คุณสอบผ่าน!</div>
            <div>คะแนนรวม: {{ score }} / {{ totalQuestions * maxScorePerQuestion }}</div>

            <div class="flex flex-col gap-4">
                <div class="relative inline-block select-none" (mousedown)="startPress()" (touchstart)="startPress()" (mouseup)="endPress()" (touchend)="endPress()"
                    (mouseleave)="endPress()">

                    <img src="/assets/images/cert.png" alt="Certificate" class="w-[400px] h-auto object-contain" style="image-rendering: crisp-edges;" />

                    <p class="absolute inset-0 flex items-center justify-center text-lg font-medium text-[#ec4899]">
                        {{email}}
                    </p>
                </div>
                <button type="submit" (click)="startPress()" class="w-full h-[50px] bg-[rgba(255,0,102,1)] text-white font-bold text-lg rounded-full
                            shadow-[0_4px_0_0_rgba(0,0,0,0.4),_inset_0_-4px_0_0_rgba(0,0,0,0.4)]
                            active:shadow-[0_0px_0_0_rgba(0,0,0,0.4),_inset_0_4px_0_0_rgba(0,0,0,0.4)]
                            transition duration-150 hover:brightness-110 cursor-pointer">
                    บันทึกภาพ
                </button>
                <button type="submit" class="w-full h-[50px] bg-amber-400 text-white font-bold text-lg rounded-full
                            shadow-[0_4px_0_0_rgba(0,0,0,0.4),_inset_0_-4px_0_0_rgba(0,0,0,0.4)]
                            active:shadow-[0_0px_0_0_rgba(0,0,0,0.4),_inset_0_4px_0_0_rgba(0,0,0,0.4)]
                            transition duration-150 hover:brightness-110 cursor-pointer" (click)="Direct('board')">
                    LeaderBoard
                </button>
            </div>
        </div>
    </div>
</div>